
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}


.home ul li {
    display:flex;
    width: 15px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display:flex;
    width: 100%;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 15px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(99, 91, 91);
}

.header > * {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 80vh;
    overflow-y: scroll;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > * {
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play {
    position: absolute;
    top:180px;
    right: 20px;
}

.buttons > * {
    margin: 0 12px;
}

.signupbtn {
    background-color: black;
    color: grey;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 1.1rem;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    width: 80px;
    padding: 10px;
    cursor: pointer;
}

.loginbtn:hover {
    width: 82px;
    font-weight: bold;
}